body{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    margin: 0;
    padding: 0;
}

form{
    width: 100%;
}

i{
    color: #1b5d78;
    font-size: 25px;
}

ul{
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.item-right{
    right: 0;
    margin-left: 100%;
}

/* Clase para ajustar el contenedor a todo lo ancho */
.fixed-container{
    width: 100%;
}

/* Clase para alinear los objetos a la derecha */
.fixed-right{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

/* Clase para alinear los objetos al centro */
.fixed-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Nombre del encuestado */
.form-label{
    font-size: 20px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
}

.buttons a{
    height: 25px;
    /* background-color: pink; */
}

.buttons form{
    width: auto;
    display: flex !important;
    align-items: center !important;
    /* background-color: pink; */
}


/* Contenedor del nombre */
.form-control{
    border-color: black !important;
    background-color: white !important;
    width: 50% !important;
    min-width: 200px !important;
}

/* Contenedor de los botones de acordeón desplegables */
.accordion{
    /* padding: 20px 0px; */
    /* background-color: red; */
    width: 100%;
}

/* orilla, Eliminar borde gris */
.accordion-item{
    border: none !important;
}

/* Títulos desplegables */
.accordion-button{
    background-color: #d1e4fd !important;
    font-size: 20px !important;
    padding: 10px !important;
    margin-bottom: 5px !important;
}
.enterprises-accordion{
    background-color: #1b5d78 !important;
    color: white !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}


.accordion-button:focus, .accordion-button-enterprises:focus{
    box-shadow: none !important;
}

/* INICIA Estilo de la flecha del acordeón */
.accordion-button::after {
    content: '\25BC';
    color: white; /* Cambia este color al que prefieras */
    background-image: none !important;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg); /* Rota la flecha cuando el acordeón está abierto */
}
/* TERMINA Estilo de la flecha del acordeón */

/* Contenido de las páginas */
.container-fluid{
    /* background-color: purple; */
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

/* Contenedor de las preguntas y respuestas */
.question-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.question-container:hover{
    background-color: #d1e4fd
}

/* Preguntas */
.question-container p {
    flex: 1;
    margin: 0;
    font-size: 18px;
}

/* Espacio de las opciones */
.options-container {
    display: flex;
    gap: 20px;
}

.option-label {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.si{background-color: lightgreen;}
.no{background-color: rgb(255, 134, 134);}

span{
    display: block;
    height: 100% !important;
    padding: 8px 15px;
}

.option-label input[type="radio"] {
    display: none;
}

.option-label input[type="radio"]:checked + span{
    background-color: #007bff !important;
    color: white;
}

/* contenedor del botón */
.d-flex{
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

/* botón */
.btn-primary{
    font-size: 16px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/* Titulo de la sección para ver las respuestas */
.responses-title{
    border-radius: 10px;
    /* width: fit-content; */
    /* font-weight: 600; */
}

/* Titulo de las secicones para ver las respuestas */
.section-title{
    background-color: #d1e4fd;
    border-radius: 10px;
}

.answer{
    background-color: yellow;
}

.show-label {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: #007bff;
    color: white;
}

/* Visualización de la empresa */
.enterprise-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.enterprise-info p{
    cursor: default;
    font-size: 18px;
    max-width: 100%;
    overflow-wrap: break-word;
}

/* Clase para centrar los títulos de más de un renglón */
.centered-title{
    text-align: center;
    display: inline-block;
}

.centered-input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.centered-input label{
    margin: 0 10px 0 -100px;
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
}
.centered-input input{
    width: 28% !important;
}

/* Clase para ajustar los inputs no manipulables */
.non-editable, .non-editable:focus{
    cursor: default;
    box-shadow: none;
    background-color: #d1e4fd !important;
}

/* Mensaje que se despliega al hacer click, inialmente oculto */
#user-message{
    display: none;
}

label a, .required-inputs, #user-message{
    color: red !important;
    margin-bottom: 0;
}

/* Tamaño de las alertas de validación */
.alert-danger{
    width: fit-content;    
}